<div class="innerModal">

    <p class="modalTitle">
        {{ title }}
    </p>

    <p class="subTitle">
        {{ subTitle }}
    </p>

    {% if addressBar == True %}
        {% include 'mainApp/address_search_bar.html' %}
    {% endif %}


    {% if footer == True %}
        <p class="footer">
            still havng problems?  message us ✉️
        </p>
    {% endif %}

</div>







<style>

    #modal{
      position: fixed;
      padding: 1vh;

      height: auto;
      width: 28vw; /* 95vw on mobile */
      background-color: white;
      border: 1px solid black;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    }

    .modalTitle{
        color: red;
        font-size:xx-large;
        font-size: 1.6vw;
        font-weight: bold;

    }

    .subTitle{
        font-size:.9vw;
    }

    /* #usePreciseLocationButton{
        border: 1px solid #3c4043;
        color: #8ab4f8;
        border-radius: 14px;
        cursor: pointer;
        padding-block: 2px;
        padding-inline: 4px;

    } */

    .footer{
        font-size.9vw;
    }

    @media (orientation: portrait) {
      

      #modal{
        width: 85vw;
      }

      .modalTitle{
        font-size: 2.9vh;
      }
}
</style>